@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
body{
  font-family: 'Orbitron', sans-serif;
  background: url(https://images.hdqwalls.com/download/future-metropolis-pn-1920x1080.jpg);
  background-size: cover;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.692);
  margin:0;
  padding:0;
  text-shadow: rgba(25, 46, 25, 0.603) 25px 5px 2px;
}
body,html{
  overflow-x: hidden;
  margin:0;
  padding:0;
  scroll-behavior: smooth;
}